
/* Baner */
.baner
{
    height: 200px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    border-radius: 20px;
    border-style: outset;
    border-width: 2px;
    border-color: #39F40B;
}
/* Titulo del Baner */
header h1
{
    font-size: 32px;
    text-shadow: 0 2 px;
    color: #39F40B;
    font-family: sans-serif;
    place-items: center;
    padding-left: 130px;
    padding-top: 50px;
}
/* Parrafo del */
header p
{
    font-size: 18px;
    text-shadow: 0 2 px;
    color: #39F40B;
    font-family: sans-serif;
    padding-left: 60px;
}
/* Imagen del baner */
header img
{
    background-image: url();
    margin-left: auto;
    padding-right: 60px;
    padding: auto;
    border-radius: 20px;
}
/* Barra de menu */
nav
{
    background-color: #39F40B;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    border-style: outset;
    border-width: 2px;
    margin-top: 15px;
}
/* Lista */
.container
{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    list-style: none;
}
/*Separacion de lista */
li
{
    margin: 0.75rem;
}
/* Opciones de pagina */
section
{
    display: flex;
    width: 80%;
    margin: auto;
    padding: auto;
    margin-top: 20px;
}
/* Barra lateral */
aside
{
    width: 25%;
}
/* login */
.login
{
    border-style: inset;
    border-color: black;
    border-radius: 20px;
    padding: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}
/* Identendo input */
.dato
{
    width: 150px;
    margin-left: 10px;
    /* margin: 15px; */
}
/* Identando margenes de label con input */
.etiqueta
{
    width: 50%;
}

p
{
    text-align: center;
}

/* Boton de registro */
button
{
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 100px;
    width: 30%;
    cursor: pointer;
}
/* Tarjetas de la barra lateral */
.tarjetas
{
    height: 200px;
    background-color: #39F40B;
    border-style: groove;
    margin: 20px;
    text-align: center;
}
/* Productos */
article
{
    height: 350px;
    width: 120%;
    border-style: solid;
    border-radius: 20px;
    /* padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px; */
    /* margin: auto; */
    margin-bottom: 25px;
}

.lado
{
    display: flex;
    padding: 5px;
    padding-right: 5px;
}
/* Titulo de productos */
article h3
{
    text-align: center;
}
/* Imagenes de productos */
article img
{
    width: 90%;
    height: 50%;
    align-items: center;
    margin-left: 15px;
}

.box
{
    /* height: 15px; */
    margin-left: 9%;
    /* margin-top: 20px; */
    margin-bottom: 25px;

}
/* Centrando la pagina de creditos */
.identar-creditos
{
    width: 66%;
    margin-left: 10%;
    margin-top: 2%;
}
.img-credito1
{
    width: 40%;
    height: 250px;
    margin-left: 35px;
}
.img-credito2
{
    width: 40%;
    height: 250px;
    margin-left: 35px;
}
.main-credito
{
    display: flex;
}

.parrado-credito
{
    text-align: center;
    margin: auto;
}
/* Pie de pagina */
footer
{
    text-align: center;
    width: 80%;
    margin: auto;
}

#correo
{
    border-top: 2px solid rgb(22, 22, 22);
    padding-top: 20px;
}


